@import url(https://fonts.googleapis.com/css?family=Play);

* {
	font-family: 'Play', sans-serif;

	/*transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;*/
}

body {
	margin: 0;
}

label {
	font-size: 18px;
	display: block;
}

input {
	width: 60px;
  text-align: center;
  font-size: 15px;
}

button {
	padding: 7px;
  background-color: rgba(0,255,0,0.7);
}

.card {
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	margin: 12px auto;
}

.invisible {
	visibility: hidden;
}

.adspace {
	text-align: center;
}

#share {
	position: fixed;
  right: 0;
  top: 0;
  margin: 12px;
}

#share > div{
	display: inline-block;
}

.title {
	text-align: center;
	margin-top: 50px;
}

.global-message-wrapper {
	position: fixed;
	width: 100%;
	text-align: center;
	top: 20px;
}

#global-message {
	display: none;
	background-color: blue;
	color: red;
	padding: 12px;
}

.main {
	display: flex;
}

.main-left {
	width: 300px;
	margin: 8px;
	display: none;
	/*background-color: red;*/
}

.main-center {
	flex: 2;
	/*background-color: green;*/
}

.main-right {
	width: 300px;
	margin: 8px;
	display: none;
	/*background-color: blue;*/
}

#recovery-input {
	color: rgba(0,0,255,1);
}

.heading {
 text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

form > div {
	display: inline-block;
	margin: 0 12px;
}

.description {
	color: rgba(0,0,0,0.6);
}

.calc-button {
	display: block;
	margin: 12px 0;
}

.footer {
	/*position: fixed;*/
	/*bottom: 0;*/
	/*width: 100%;*/
}

/**
 * Facebook
 */
#fb-comments {
	width: 300px;
	margin: 10px;
}

@media (min-width: 983px) {
	.main-left {
		display: block;
	}

	/*.footer {
		position: relative;
	}*/
}

@media (min-width: 667px) {
	.main-right {
		display: block;
	}
}

@media (min-width: 351px) {
	.card {
		width: 350px;
	}
}

@media (min-width: 375px) {
	#fb-comments {
		width: 80%;
	}
}

@media (min-width: 550px) {
	#fb-comments {
		width: 530px;
	}
}